body.listar-produtos-content {
  table {
    th.desc,
    td.desc {
      max-width: 200px;
    }
    th, td{
      vertical-align: middle;
    }

    td.actions {
      div {
        display: flex;
        gap: 5px;
        .btn {
          img {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}
